nouislider .noUi-horizontal .noUi-connect {
    top: 6px !important;
    height: 2px !important;
    background: #01ACDD !important;
}

.noUi-handle {
    width: 28px !important;
    height: 28px !important;
    border-radius: 50% !important;
    box-shadow: none !important;
    border-color: #01ACDD !important;
    outline: none !important;
}

.noUi-horizontal {
    height: 1px !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}